<!doctype html>
<!--
  Material Design Lite
  Copyright 2015 Google Inc. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License
-->
<html lang="en">

<head>
     <% include ../partials/head %>
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
         <%- include("../partials/header",{menus:[
                { name:"portfolio",active:"is-active",link:"/"},
                { name:"about",active:"",link:"about"}
                ]}) %>
        <main class="mdl-layout__content">
            <div class="mdl-grid portfolio-max-width">
             <% articles.forEach(function(article) { %>
               
                <div class="mdl-cell mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp portfolio-card">
                    <div class="mdl-card__media">
                    <!--    <img class="article-image" src="public/images/linuxaudio.jpg" border="0" alt=""> -->
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text"><%= article.title %></h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                       <%= article.include %> </br> <%= article.description %>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="article/<%= article.id %>">Read more</a>
                    </div>
                </div>
                 <% }); %>
            </div>
            <footer class="mdl-mini-footer">
              <% include ../partials/footer %>
            </footer>
        </main>
    </div>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
</body>

</html>
